/*
 * container
 */
.container {
  background-color: $container-bg-color;
  padding: 20px;

  @for $i from 2 through 6 {
    h#{$i} {
      font-style: italic;
      font-family: 'Dancing Script', cursive;
    }
  }
}

dt {
  font-style: italic;
  font-weight: bold;
}

dd {
  margin-left: 1em;
  margin-bottom: 5px;

  .row {
    margin: 0px;
  }
  .col {
    padding: 0px;
  }
  a + aside {
    font-size: .75em;
    text-align: right;
  }
}
